#name_box {
    width:200pt;
    position:relative;
}


#pic {
    float:right;
    width:250px;
    margin-left:10px;
}
@media (max-width: 550px) {
  #pic { display:block; float:none; margin:0 auto;   }
  #about_text { display:inline-block; }
}

#about {
    padding-top:10pt;
    padding-bottom:10pt;
    width:100%;
}

#class_list li {
    margin-top:0pt;
    margin-bottom:5pt;
}

#research_list li {
    margin-bottom: 10pt;
}

ul { margin-top: 0pt; }
h2 {font-weight: normal;}
h3 {margin-bottom: 5pt;}

.research_link {
}